*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
.header {
    display:flex;
    justify-content: space-between;
    font-family: "Poppins", Arial, sans-serif;
    background: #000;
    color: #fff;
    padding: 20px 50px;
}
.logo {
    margin: 10px;
    font-size: 24px;
    font-weight: 600;
}
.menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu  a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-weight: 500;
    transition: color 0.3s ease;
}
.menu a:hover {
    color: #c8a97e;
}
.menu button {
    background: #c8a97e;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
}

/* Hero */

.hero {
    background: url('./assests/bg_1.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    gap: 20px;
}
.hero-content h2 {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: "Great Vibes", cursive;
    font-size: 80px;
    color: #c8a97e;
    font-weight: normal;
    margin-bottom: 0;
}

.hero-content p {
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: "Poppins", Arial, sans-serif;
}

.hero-image {
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin-top: 50px;
    gap: 2%;
    width: 100%;
}

.hero-image box{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.hero-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.hero-image span {
    font-style: italic;
    color: #ffffff79;
    text-align: center;
    margin-top: 10px;
}

/* About */
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 100%;
}
.about-content {
    display:flex;
    justify-content: center;
    gap: 10px;
    width: 60%;
    margin: 20px auto;
}
.about-content img {
    width: 200px;
    height: 400px;
    object-fit: cover;
}
.about-content .about-img-1{
    margin-top: 15px;
}

.about-content .about-text{
    margin-top: 15px;
    position: relative;
}

.about-text h2{
    font-family:Great Vibes ;
    font-size: 60px;
    color: #c8a97e;
    font-weight: normal;
    margin-bottom: 50px;
}

.about-text .title{
    position: absolute;
    width: 100px;
    font-size: 25px;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 1000;
    color: #333333;
    top: 35px;
}

.about-text .descrip{
    font-size: 14px;
    font-family: "Poppins", Arial, sans-serif;
    color: #333333;
    line-height: 22px;
    margin-bottom: 10px;
}

.about-text .daywork{
    font-family: "Poppins", Arial, sans-serif;
    color: #333333;
    font-size: 12px;
}

.about-text .tel{
    font-family: "Poppins", Arial, sans-serif;
    font-weight: bolder;
    color: #c8a97e;
    font-size: 25px;
    margin-top: 5px;
    margin-left: 5px;
}

.statistics{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.statistics .group{
    width: 15%;
    align-items: center;
}

.group strong{
    color: #c8a97e;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: bolder;
    font-size: 25px;

}

.group-text{
    width: 25%;
    font-size: 14px;
    font-family: "Poppins", Arial, sans-serif;
    color: #333333;
    line-height: 22px;
    margin-bottom: 10px;
}

/* Service */
.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f4f4f4;
    text-align: center;
    position: relative;
}

.service h2{
    font-family:Great Vibes ;
    font-size: 60px;
    color: #c8a97e;
    font-weight: normal;
    margin-top:20px ;
    margin-bottom: 50px;
}

.service .title{
    position: absolute;
    font-size: 30px;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: ExtraBolt;
    color: #333333;
    top: 50px;
}

.service .service-content{
    display: flex;
    justify-content: space-evenly ;
}

.service-content .service-box{
    width: 25%;
}

.service-box img{
    width: 25%;
    height: 80px;
    margin-bottom: 20px;
}

.service-box h6{
    font-size: 20px;
    margin-bottom: 20px;
}

.service-box p{
    color: #333333;
    font-family: "Poppins",Arial, sans-serif;
    margin-bottom: 50px;
}

/*Specialties*/


.specialties{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    position: relative;
}
.specialties h2{
    font-family:Great Vibes ;
    font-size: 60px;
    color: #c8a97e;
    font-weight: normal;
    margin-top:20px ;
    margin-bottom: 50px;
}
.specialties .title{
    position: absolute;
    width: 140px;
    font-size: 25px;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 900;
    color: #333333;
    top: 50px;
    align-items: center;
}
.specialties-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(4,1fr) ;
    padding: 20px;
    width: 70%;
    flex-wrap: wrap;
}

.column-item {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    text-align: start;
    transition: transform 0.3s ease;
}

.column-item:hover {
    transform: translateY(-5px);
}

.column-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.column-info {
    padding: 15px;
}

.column-info p {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}

.column-info p span {
    float: right;
    color: #c2923b;
    font-weight: bold;
}

.column-info small {
    display: block;
    margin: 10px 0;
    color: #777;
    width: 20px;
}

.column-info button {
    background-color: #c2923b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.column-info button:hover {
    background-color: #a7792f;
}

/* Chef */

.chef{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 30px ;
}

.chef h2{
    font-family:Great Vibes ;
    font-size: 60px;
    color: #c8a97e;
    font-weight: normal;
    margin-top:20px ;
    margin-bottom: 50px;
}

.chef .title{
    position: absolute;
    width: 220px;
    font-size: 25px;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 900;
    color: #333333;
    top: 50px;
    align-items: center;
}

.chef .chef-grid{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.chef-grid .chef-item{
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: transform 0.3s ease;
}

.chef-grid .chef-item:hover{
    transform: translateY(-5px);
}

.chef-item img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.chef-item p{
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    font-family: "Poppins", Arial, sans-serif;
}

.chef-item small{
    display: block;
    color: #777;
    margin-bottom: 10px;
}

.chef-item i{
    color: #c2923b;
    transform: color 0.3s ease;
}
.chef-item i:hover{
    color: #a7792f;
}

/* Reservation */
.reservation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('./assests/bg_3.jpg') no-repeat center center/cover;
    height: 80vh;
    width: 100%;
    position: relative;
    background-attachment: fixed;
}

.reservation h2{
    font-family:Great Vibes ;
    font-size: 60px;
    color: #c8a97e;
    font-weight: normal;
    margin-top:20px ;
    margin-bottom: 50px;
    position:absolute;
}

.reservation .title{
    position: absolute;
    width: 220px;
    font-size: 25px;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 900;
    color: #333333;
    top: 50px;
    align-items: center;
}

.reservation .formulaire-reservation{
    background: #ffff;
    display:flex;
    align-items: start;
    width: 70%;
}

.formulaire-reservation .bloc{
    display: flex;
    flex-direction: column;
}

/* Testimony */

.testimony{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
}

.testimony h2{
    font-family:Great Vibes ;
    font-size: 60px;
    color: #c8a97e;
    font-weight: normal;
    margin-top:20px ;
    margin-bottom: 50px;
}

.testimony .title{
    position: absolute;
    width: 220px;
    font-size: 25px;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 900;
    color: #333333;
    top: 50px;
    align-items: center;
}

.testimony .testimony-grid{
    display: flex;
    justify-content: space-around;
}

.testimony-grid .testimony-item{
    gap: 15px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimony-item img{
    border-radius: 50%;
    width: 30%;
    object-fit: cover;
}

.testimony-item .descrip{
    font-size: 14px;
    color: #333333;
    font-family: "Poppins", Arial, sans-serif;
    display: block;
    text-align: center;
    align-items: center;
    width: 60%;
}

.testimony-item .name{
    font-weight: bold;
    font-size: 14px;
    font-family: "Poppins", Arial, sans-serif;
}

/* Recent */

.recent{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 5%;
    background: #f4f4f4;
    position: relative;
}

.recent h2{
    font-family:Great Vibes ;
    font-size: 60px;
    color: #c8a97e;
    font-weight: normal;
    margin-top:20px ;
    margin-bottom: 50px;
}

.recent .title{
    position: absolute;
    text-align: center;
    width: 220px;
    font-size: 25px;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 900;
    color: #333333;
    top: 50px;
    align-items: center;
}

.recent .recent-grid{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
}

.recent-grid .recent-item{
    display: flex;
    width: 25%;
    flex-direction: column;
    gap: 10px;
    background: #fff;
    transition: transform 0.3s ease;
}

.recent-grid .recent-item:hover{
    transform: translateY(-5px);
}


.recent-item img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.recent-item .info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
}

.recent-item .date{
    color: #777;
}

.recent-item .name{
    display: block;
    width: 200px;
    font-weight: bold;
    font-size: 14px;
    font-family: "Poppins", Arial, sans-serif;
}

.recent-item .read{
    font-family: "Poppins", Arial, sans-serif;
    font-size: 12px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.recent-item .read:hover{
    color: #0f0f0f4d;
}

.recent-item  span{
    float: right;
    color: #777;
    padding-right: 30px;
}
